body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #000000bb;
    color: #fff;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section h2 {
    margin-bottom: 20px;
}

supercar {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

supercar img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    background-color: #ce1212ce;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
img {
    width: 300px; /* Set a fixed width for all images */
    height: 200px; /* Set a fixed height for all images */
    object-fit: cover; /* Maintain aspect ratio and cover the specified dimensions */
}

button:hover {
    background-color: #a476a89c;
}

footer {
    background-color: #f8e919;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    header {
        text-align: center;
    }

    nav ul {
        text-align: center;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }
}


